<div class="question_container">
    <div class="word_top">
     <pre class="center_font">★ QuestionTank ★&nbsp;&nbsp;&nbsp;&nbsp;
     <%= @tank.tank_name %></pre><br>
   </div>
   <div class="tank_top">
      <%= link_to "Questionを登録する", new_tank_question_path(@tank.id), class: "btn btn--orange btn--shadow" %>
      <%= link_to "戻る", question_tank_index_tank_path(current_user.id), class:  "btn btn--blue btn--shadow" %> 
   </div><br>

   <p class="center3">Questionを登録するとまずは「未習得Tank」に蓄積されるよ!</p>
   <p class="center3">Questionに正解していき、「習得済Tank」に移動していこう！</p>

   <div class="tank_title">
      <div class="left_tank_title">
       <p class="center_font">習得済Tank</p> 
      </div>
      <div class="right_tank_title">
        <p class="center_font">未習得Tank</p> 
      </div>
   </div>
  
   <div class="tank">
      <div >
        <%= link_to image_tag("/images/up.jpg", class: 'left_tank' )  , learned_tank_questions_path(@tank.id)   %>
      </div>
      <div>
        <%= link_to image_tag("/images/down.jpg", class: 'right_tank' )  , unlearned_tank_questions_path(@tank.id)   %>
      </div>
   </div>
 
   <div class="tank_comment">
      <div class="memory_tank_comment">
       <p class="question_comment">自分の正答率が<span class="tomato">70%</span>以上のQuestionが蓄積</p> 
      </div>
      <div class="question_tank_comment">
       <p class="question_comment">自分の正答率が<span class="tomato">70%</span>未満のQuestionが蓄積</p> 
      </div>
   </div>
</div>