<div class="contents row">
  <div class="container">
     <p class="center_font">アカウント設定</p>
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
       <%= render "devise/shared/error_messages", resource: resource %>
       <div class="field">
          <%= f.label :"ユーザ名" %> (最大15文字まで)<br><br>
          <%= f.text_field :username, autofocus: true %>
       </div>
       <div class="field">
           <p>現在のユーザアイコン</p><br />
           <% if current_user.user_icon.presence %>
             <div>
              <%= image_tag(current_user.user_icon, class: 'icon') %>
             </div>
           <% else %>  
             <div>    
              <%= image_tag("/images/default_user.png", class: 'icon')  %>
            </div>
           <% end %>
           <br><%= f.label :"ユーザアイコンを変更する場合は画像ファイルを選択して下さい▼" %><br><br>
           <%= f.file_field :user_icon %>
       </div>
       <div class="field">
           <%= f.label :"パスワード変更： 新しいパスワード" %> (最低6文字以上)<br><br>
           <%= f.password_field :password, autocomplete: "new-password" %>
       </div>
       <div class="field">
           <%= f.label :"新しいパスワード(確認)" %><br><br>
           <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
       </div>
       <div class="field">
           <%= f.label :"上記内容で更新する場合は、現在のパスワードを入力して下さい" ,class:"title" %> <br><br>
           <%= f.password_field :current_password, autocomplete: "current-password" %>
       </div>
       <div class="field">
           <%= f.submit "更新する",class: "btn-n btn--orange" %>
           <%= link_to "戻る", "/", class: "btn btn--blue" %>
      </div>
    <% end %>
       <div class="field">
           <p >※ アカウントを削除する場合は以下のボタンをクリックして下さい</p><br>
           <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "アカウント削除： 本当に削除しますか?" }, method: :delete %><br>
       </div>
  </div>
</div>
