<div class="tank_container2">
 
  <p class="center">WordTank一覧</p><br>
  <div class="tank_top">
     <%= link_to "Tankを作成する", tank_path("単語"), class: "btn btn--orange btn--shadow" %>
     <%= link_to "戻る", root_path, class:  "btn btn--blue btn--shadow" %>
  </div>

  <% @tanks.each do |word_tank|   %>

   <div class=list>
     <div class="tank_name">
         <p><%= word_tank.tank_name %></p>
     </div>
     <% if word_tank.tank_icon.attached?  %>
        <div>
            <%= link_to image_tag(word_tank.tank_icon, class: 'icon') ,tank_words_path(word_tank.id)  %>
        </div>
     <% else %>
        <div>    
            <%= link_to image_tag("/images/tank_img.jpg", class: 'icon' )  , tank_words_path(word_tank.id)   %>
        </div>
     <% end %>  

     <div class="tank_button">
         <%= link_to "編集", edit_tank_path(word_tank.id), class: "btn btn--orange btn--shadow" %>
         <%= link_to "削除",delete_confirm_tank_path(word_tank.id) ,class:  "btn btn--blue btn--shadow" %>
      </div>
   </div>
  <% end %>
</div>