<div class="contents row">
  <div class="container">
    <p class="p1">ログイン</p>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>


      <div class="field">
        <%= f.label :username %> <br />
        <%= f.text_field :username, autofocus: true, maxlength: "6" %>
      </div>
      

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "ログインする" , class: "btn btn--orange btn--shadow"%>
        <%= link_to "戻る", "/", class:  "btn btn--blue btn--shadow" %> 
      </div>

    <% end %>
  </div>
   <footer>
     <div class="footer_left">
        <div class="footer_left_main">
           <a href="/"><p class="p2">MemoryTank</p></a>
        </div>
        <div class="fotter_left_sub">
           <p class="p2">〜効率的なナレッジ蓄積と知識定着を支援〜</p>
        </div>
     </div>
    </footer>
</div>

