<div class="contents row">
  <div class="container">

    <p class="p1">Wordを削除しますか？</p>

      <div class="field">
        <p>Word</p><br />
        <%= @word.word %>
      </div>

      <div class="field">
        <p>意味</p><br />
        <%= @word.meaning %>
      </div>
      
      <div class="field">
         <%= link_to "削除", tank_word_path(@tank.id), method: :delete ,class:  "btn btn--blue btn--shadow" %>
         <% if @word.correct_rate >= 70 %>
         <%= link_to "戻る", learned_tank_words_path(@word.tank_id), class: "sub" %>
         <% else %>
          <%= link_to "戻る", unlearned_tank_words_path(@word.tank_id), class: "sub" %>
          <% end %>
      </div>

  </div>


  <footer>
     <div class="footer_left">
        <div class="footer_left_main">
           <a href="/"><p class="p2">MemoryTank</p></a>
        </div>
        <div class="fotter_left_sub">
           <p class="p2">〜効率的なナレッジ蓄積と知識定着を支援〜</p>
        </div>
     </div>
    </footer>
</div>