<div class="contents row">
  <div class="container">
    
    <p class="p1">Wordの登録 : <%= @tank.tank_name %> </p>

    <%= flash[:error_word] %> 

     <%= form_with(model: [@tank,@word],local: true ) do |form| %>

      <div class="field">
        <%= form.label :word ,"Word (必須：30文字以内)" %><br />
        <%= form.text_field :word %>
      </div>
      <div class="field">
        <%= form.label :meaning ,"意味 (必須：120文字以内)" %><br />
        <%= form.text_field :meaning %>
      </div>

      <div class="field">
        <%= form.hidden_field :correct_count, value: 0 %>
      </div>

      <div class="field">
        <%= form.hidden_field :uncorrect_count, value: 0 %>
      </div>

       <div class="field">
        <%= form.hidden_field :correct_rate, value: 0 %>
      </div>

      <div class="field">
         <%= form.submit "登録する" ,class: "sub" %>
         <%= link_to "戻る", tank_words_path(@tank.id) , class: "sub" %>
      </div>
    <% end %>


  </div>


  <footer>
     <div class="footer_left">
        <div class="footer_left_main">
           <a href="/"><p class="p2">MemoryTank</p></a>
        </div>
        <div class="fotter_left_sub">
           <p class="p2">〜効率的なナレッジ蓄積と知識定着を支援〜</p>
        </div>
     </div>
    </footer>
</div>