<div class="container">

   <div class="word_top">
      <p class="center_font"><%= @word_level %><%= @tank.tank_name %></p>
   </div>

   <div class="word_top_button">
      <% if @word_level == "未習得Word :" %>
         <%= link_to "戻る", unlearned_tank_words_path(@tank.id), class:  "btn btn--blue" %>
      <% elsif @word_level == "習得済Word :"  %>
         <%= link_to "戻る", learned_tank_words_path(@tank.id), class:  "btn btn--blue" %>
      <% end %> 
   </div>

   <% @words.each do |word|   %>

     <div class=contents_list >

      <% if word.word == flash[:target] %>
       <div class="result">
         <div id="link">
           <%= flash[:result] %>
         </div>
       </div>
     <% end %>
  
     <div class="tank_name">
         <p ><%= word.word %></p>
     </div>
     <div class="meaning_box" >
         <p class="meaning"  ><%= word.meaning %></p>
         <p class="calc"><%= word.correct_rate %>%<br><%= word.correct_count + word.uncorrect_count %>回中<%= word.correct_count %>回</p>
     </div>

      <div class="word_button">
        <div class="button_split">
         <%= link_to "分かった！", correct_count_tank_word_path(@tank.id,word.id), class: "btn btn--orange" %>
         <%= link_to "分からなかった！", uncorrect_count_tank_word_path(@tank.id,word.id) ,class:  "btn btn--blue" %>
        </div>
        <div>
         <%= link_to "編集", edit_tank_word_path(@tank.id,word.id), class: "btn btn--orange" %>
         <%= link_to "削除", tank_word_path(@tank.id,word.id), method: :delete ,class:  "btn btn--blue" %>
        </div>
      </div>
    </div>
  <% end %>
</div>