<div class="tank_container2">

 
 <div class="word_top">
     <p class="p3">未習得Word : <%= @tank.tank_name %></p>
  </div>

 <div class="search_top">
      <%= form_with(url: search_tank_words_path(@tank.id), local: true, method: :get) do |form|  %>
      <%= form.text_field :search_key, placeholder: "Wordを検索する" %>
      <%= form.hidden_field :word_level, value: "未習得Word :" %>
      <%= form.submit "検索", class: "btn btn--orange btn--shadow" %>
      <% end %>
      <%= link_to "戻る", tank_words_path(@tank.id), class:  "btn btn--blue btn--shadow" %>   
 </div>

  <% @words.each do |word|   %>

   <div class=list2 >

    
      <% if word.word == flash[:target] %>
      <div id="link" ,class="p15">
      <%= flash[:result] %>
      </div>
      <% end %>

   
  
     <div class="tank_name">
         <p class="p6"><%= word.word %></p>
     </div>
      <div class="tank_name2" >
         <p class="p9"  ><%= word.meaning %></p>
      <p class="p16">My正答率：<%= word.correct_rate %>%<br>(<%= word.correct_count + word.uncorrect_count %>回中<%= word.correct_count %>回正解)</p>
     </div>

      <div class="word_button" data-turbolinks="false" >
         <%= link_to "分かった！", correct_count_tank_word_path(@tank.id,word.id),class: "btn btn--orange btn--shadow" %>
         <%= link_to "分からなかった！", uncorrect_count_tank_word_path(@tank.id,word.id),class:  "btn btn--blue btn--shadow" %>
         <%= link_to "編集", edit_tank_word_path(@tank.id,word.id), class: "btn btn--orange btn--shadow" %>
         <%= link_to "削除", delete_confirm_tank_word_path(@tank.id,word.id),class:  "btn btn--blue btn--shadow" %>
      </div>
    </div>

  <% end %>
</div>

<footer>
     <div class="footer_left">
        <div class="footer_left_main">
           <a href="/"><p class="p2">MemoryTank</p></a>
        </div>
        <div class="fotter_left_sub">
           <p class="p2">〜効率的なナレッジ蓄積と知識定着を支援〜</p>
        </div>
     </div>
</footer>