<div class="tank_container_down">
  <div class="word_top">
     <p class="center_font">未習得Word : <%= @tank.tank_name %></p>
  </div>

  <div class="search_top">
      <%= form_with(url: search_tank_words_path(@tank.id), local: true, method: :get) do |form|  %>
      <%= form.text_field :search_key, placeholder: "Wordを検索する" %>
      <%= form.hidden_field :word_level, value: "未習得Word :" %>
      <%= form.submit "検索", class: "btn-n btn--orange btn--shadow" %>
       <%= link_to "戻る", tank_words_path(@tank.id), class:  "btn btn--blue btn--shadow" %>   
      <% end %>
  </div>
  <p class="center3">黒い四角にカーソルをあてて意味を確認し、「分かった！」もしくは「分からなかった！」ボタンを押そう！</p><br>
  <p class="center3">各Wordの右側には、自分の正答率と累積の正解数が表示！</p><br><br>

  <% @words.each do |word|   %>

   <div class="contents_list" >
     <% if word.word == flash[:target] %>
       <div class="result">
         <div id="link">
           <%= flash[:result] %>
         </div>
       </div>
     <% end %>

     <div class="tank_name">
         <p><%= word.word %></p>
     </div>
     <div class="meaning_box" >
         <p class="meaning"  ><%= word.meaning %></p>
         <p class="calc"><%= word.correct_rate %>%<br><%= word.correct_count + word.uncorrect_count %>回中<%= word.correct_count %>回</p>
     </div>

     <div class="word_button" data-turbolinks="false" >
        <div class="button_split">
           <%= link_to "分かった！", correct_count_tank_word_path(@tank.id,word.id),class: "btn btn--orange btn--shadow" %>
           <%= link_to "分からなかった！", uncorrect_count_tank_word_path(@tank.id,word.id),class:  "btn btn--blue btn--shadow" %>
        </div>
        <div>
           <%= link_to "編集", edit_tank_word_path(@tank.id,word.id), class: "btn btn--orange btn--shadow" %>
           <%= link_to "削除", delete_confirm_tank_word_path(@tank.id,word.id),class:  "btn btn--blue btn--shadow" %>
        </div>
     </div>
    </div>
  <% end %>
</div>