<!DOCTYPE html>
<html>
  <head>
    <title >MemoryTank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
   <header class="header">
    <div class="flex_between">
      <div class="header_left">
        <div class="header_left_main">
           <a href="/"><p class="title">MemoryTank</p></a>
        </div>
        <div class="header_left_sub">
           <p class="heading">〜効率的なナレッジ蓄積と知識定着を支援〜</p> 
        </div>
     </div>   
    <% if user_signed_in? %>
     <div class="user_name">
           <p class="heading">ユーザ名：<%= current_user.username %></p>
     </div>
    </div>
   
     <div class="flex_end">
           <% if current_user.user_icon.presence %>
              <div class="user_icon">
                <%= link_to image_tag(current_user.user_icon, class: 'icon_image' )  , edit_user_registration_path  %>
              </div>
           <% else %> 
              <div class="user_icon">
                <%= link_to image_tag("/images/default_user.png", class: 'default_icon_image' )  , edit_user_registration_path  %>
              </div>
           <% end %>

           <div class="user_info">
               <%= link_to "アカウント設定", edit_user_registration_path,class: "btn btn--orange btn--shadow" %>
               <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:  "btn btn--blue btn--shadow" %>
           </div>
          <% end %>
         
         <% unless user_signed_in? %>
            <div class="unlogin_right">
               <%= link_to "ログイン", new_user_session_path, class: "btn btn--orange btn--shadow" %>
               <%= link_to "新規登録", new_user_registration_path, class:  "btn btn--blue btn--shadow" %>
            </div>
         <% end %>
      </div>
    </header>

    <%= yield %>

    <footer>
     <div class="footer_center">
        <div class="footer_center_main">
           <a href="/"><p class="title">MemoryTank</p></a>
        </div>
        <div class="footer_center_sub">
         <p class="heading">〜効率的なナレッジ蓄積と知識定着を支援〜</p>
        </div>
     </div>
    </footer>

  </body>
</html>