<!DOCTYPE html>
<html>
  <head>
    <title>MemoryTank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  
  </head>

  <body>
  <header class="header">

      <div class="header_left">
        <div class="header_left_main">
           <a href="/"><p class="p1">MemoryTank</p></a>
        </div>
        <div class="header_left_sub">
           <p class="p1">〜効率的なナレッジ蓄積と知識定着を支援〜</p>
        </div>
      </div>

      <div class="header_right">
         <% if user_signed_in? %>
           <div class="login_right">
            <% if current_user.user_icon.presence %>
              <img src=<%= current_user.user_icon %>  class="icon_image" >
             <% else %> 
               <div>
                 <%= link_to image_tag("/images/default_user.png", class: 'circle-image' )  , edit_user_registration_path  %>
               </div>
             <% end %>
            <p class="p1"><%= current_user.username %></p>
             <ul class="user__info">
               <li>
                 <%= link_to "アカウント設定", edit_user_registration_path,class: "btn btn--orange btn--shadow" %>
                 <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:  "btn btn--blue btn--shadow" %>
              </li>
             </ul>
           </span>
          </div>
        <% else %>

          <div class="unlogin_right">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn--orange btn--shadow" %>
            <%= link_to "新規登録", new_user_registration_path, class:  "btn btn--blue btn--shadow" %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>

  </body>
</html>
